<div id="wiki-wrapper" class="results">
<div id="head">
  <h1>{{title}}</h1>
  <ul class="actions">
    <li class="minibutton"><a href="/"
       class="action-edit-page">Home</a></li>
<li class="minibutton"><a href="/entries/create" class="action-edit-page">New Page</a></li>
  </ul>
  {{>searchbar}}
</div>
<div id="results">

<h2> Individual Entries</h2>
{{#has_entries}}
  <ul>
    {{#entries}}
    <li>
      <a href="/entries{{link}}">{{category}} &mdash; {{title}}</a> 
    </li>
    {{/entries}}
  </ul>
{{/has_entries}}

<h2>Pages</h2>
<ul>
  {{#pages}}
  <li>
    <a href="/pages{{link}}">{{title}}</a> 
  </li>
  {{/pages}}
</ul>

{{#no_entries}}
  <p id="no-entries">
    There are no pages in <strong>{{ref}}</strong>.
  </p>
{{/no_entries}}

</div>
<div id="footer">
  <ul class="actions">
    <li class="minibutton"><a href="#">Back to Top</a></li>
  </ul>
</div>
</div>

